body {
    Background-color: whitesmoke; 
    Font-family: times;
    height: 100vh;
}

h1 {
    text-align: center;
    color: tan;
    background-image: url("https://cdn.pixabay.com/photo/2023/07/04/17/14/rocks-8106681_1280.jpg");
    object-fit: cover;
    width: 100%;
    padding: 50px;
    font-size: 50px;
}

.nav {
    Color: white;
    Text-decoration: none;
    Padding: 10px;
    Border: solid 2px tan;
    Border-radius: 10px; 
    Margin: 30px;
    Background-color: Peru;
    Font-style: normal;
    Width: 90px;
    Font-family: times; 
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  .nav:hover {
    Background-color: tan;
    Color: white; 
  }

  #center {
    margin-left: 40px;
}

#left {
    margin-left: 33%;
}


h2 {
    text-align: center;
    color: tan;
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: teal;
    text-decoration-thickness: 3px;
}

p {
    width: 50%;
    text-align: center;
    font-size: 20px;
    margin-left: 25%;
    line-height: 1.75;
    margin-top: 40px;
}

.WebContainer{
    width:100%;
    min-width:1000px;
    height:auto;
}

nav img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    position: absolute;
    display: block;
    right: 50%;
    left: 50%;
  }

  #i {
    margin-top: 110px;
    margin-right: 50%;
  }


Footer {
    Text-align: right;
    Background-color: Peru;
    Width: 100%;
    Padding: 20px; 
    Color: white; 
    Font-family: times;
    Margin-top: 100px; 
  }